<%- include("./includes/header.ejs") %>


<div class="alert alert-danger d-flex align-items-center col-6 offset-3 mt-5 mb-5" role="alert">
  
  <div>
    <h5>  <%= err.message %>  </h5>
    <p><%= err.stack %></p>
  </div>
</div>


  <%- include( './includes/footer.ejs' ) %> 